<h1>You have the question. We have the answer.</h1>

<br>

<%= button_to "You Have A Question, Sway?", new_question_path, method: :get %>

<br>

<h2><strong>Previously asked questions:</strong></h2>

<br>

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= link_to question.title, question %>
    </li>
  <% end %>
</ul>