<h1><%= @questions.title %></h1>
<h2><%= @questions.content %></h2>

<br>

<%= button_to "Submit an answer", new_question_answer_path(@questions), method: :get %>

<br>

<h10><strong>Answers:</strong></h10>

<br>

<ul>
  <% @answers.each do |answer| %>
    <li>
    <% end %>
</ul>
<br>
